  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Film Commentary</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/cover.css" rel="stylesheet">

  </head>

  <body>
    
    <div>
        <h1>Film Commentary</h1>
  
            
              <a class="signin" href="signin"><button class="button blue">Sign In</button></a>
            
              <a class="signup" href="signup"><button class="button blue">Sign Up</button></a>
              <p class="notice">Please Sign In First !! If you are a new user, sign up first !!</p>
    </div>


  </body>

